.part9 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 50vh;
}

.fa-twitter {
	color: #1da1f2;
	text-shadow: 0 0 50px #1da1f2;
}

.fa-instagram {
	color: #bc2a8d;
	text-shadow: 0 0 50px #bc2a8d;
	margin-left: 2.5rem;
}
.fa-facebook {
	color: #3b5998;
	text-shadow: 0 0 50px #3b5998;
	margin-left: 2.5rem;
}
.fa-linkedin-in {
	color: #4066e4;
	text-shadow: 0 0 50px #4066e4;
	margin-left: 2.5rem;
}
.fa-youtube {
	color: #ff0000;
	text-shadow: 0 0 50px #ff0000;
	margin-left: 2.5rem;
}
.separatorPill {
	border: 5px solid red;
	height: 15rem;
	box-shadow: 0 0 20px red;
	border-radius: 1rem;
}
.favicon:hover {
	transform: translateY(-1rem);
}
.favicon {
	transition: 0.325s ease-in-out;
}
.footerContent {
	display: flex;
	justify-content: left;
	flex-direction: column;
	text-align: left;
	font-size: 1.1rem;
}

#copyrightDiv {
	margin-top: none;
	padding-right: 2rem;
	padding-bottom: 5px;
}

#emailID {
	padding-top: 20px;
}

#addressDiv {
	padding-top: 2.5rem;
}
#address {
	color: white;
	font-style: normal;
	padding-bottom: 20px;
}
#itmAddr > span {
	display: block;
}
#itmAddr {
	padding-left: 1rem;
}
#addrDiv {
	display: flex;
	align-items: center;
}
#phoneDiv {
	padding-bottom: 20px;
}
#phoneIcon {
	padding-right: 0.5rem;
}
.phone {
	color: white;
	font-style: normal;
}
.aboutFtr {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
#aboutHeadingFtr {
	padding-bottom: 1rem;
}
#aboutContentFtr {
	text-align: center;
	width: 20rem;
	font-size: 1rem;
	opacity: 50%;
}
