::-webkit-scrollbar {
	width: 0;
}
#scrollPath {
	position: fixed;
	top: 0;
	right: 0;
	width: 0.625rem;
	height: 100%;
	border-radius: 0.625rem;
	background: rgba(14, 14, 14, 0.5);
	z-index: 20;
}
#progressBar {
	position: fixed;
	top: 0;
	right: 0;
	width: 0.625rem;
	height: 100%;
	border-radius: 0.625rem;
	background: linear-gradient(to top, #008aff, #00ffe7);
	animation: animate 5s linear infinite;
	z-index: 20;
}
@keyframes animate {
	0%,
	100% {
		filter: hue-rotate(0deg);
	}
	50% {
		filter: hue-rotate(360deg);
	}
}
#progressBar:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #008aff, #00ffe7);
	filter: blur(0.625rem);
}
#progressBar:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #008aff, #00ffe7);
	filter: blur(1.875rem);
}
